<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Checklist | Not Found</title>
</head>
<body>
  <ul>
    <% errors.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
</body>
</html>
